<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
 <connectionStrings>
    <!--<add name="ContextDbTest" connectionString="metadata=res://*/Contexto1.ModeloTest.csdl|res://*/Contexto1.ModeloTest.ssdl|res://*/Contexto1.ModeloTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER;initial catalog=db_test;persist security info=True;user id=sa;password=Pa$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ContextDbTest" connectionString="data source=SERVER;initial catalog=db_test;persist security info=True;user id=sa;password=Pa$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings><appSettings>
    <add key="MetaData" value="Contexto1.ModeloTest" />
    
  </appSettings></configuration>